@charset "utf-8";

*{
    box-sizing: border-box;/*padding não afeta os elementos da box*/
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.logo{
    height: 40px;
}

.btn-primary{
    background-color: #1db954;
    color: white;
    text-transform: uppercase; /*Deixa tudo em maiusculo*/
    padding: 15px 60px;
    border-style: none;
    border-radius: 30px;
    letter-spacing: 1px; /*Coloca espaçamente entre as letras*/
    font-weight: bold;
}

#navbar{
    display: flex;
    justify-content: center;/*alinha conteudo flex horizontalmente*/
    background-color:rgba(0,0,0,0.6);
    color: white;
    position: fixed; /*Deixa navbar fixa mesmo com rolagem*/
    top: 0;
    width: 100%;
}

.navbar-container{
    display: flex;
    align-items: center; /*alinha conteudo flex verticalmente*/
    justify-content: space-between; /*Deixar espaço entre os dois spoty e munu (o espaço depende da viewport)*/
    width: 45%;/*lagura do container perante navbar*/
    padding: 15px 0;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

 #navbar ul li:nth-child(3){/*Coloquei na filha de ul, a li de numero tres*/
    border-right: 1px solid white;
}

#navbar li{
    padding: 0 20px;
}


#showcase{
    height: 100vh;/*ocupar 100% da visao da viewport*/
    display: flex;
    justify-content: center; /*alinha conteudo flex horizontalmente*/
    align-items: center; /*alinha conteudo flex verticalmente*/
    color: white;
    background: url(images/showcase.webp) center center/cover;

    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;/*Deixa o efeito blend no site*/
}

.showcase-container{
    display: flex;
    flex-direction: column; /*organiza os elementos em forma de coluna h2 p botton*/
    align-items: center;
}

h2{
    font-size: 5em;
}

#showcase p{
    margin: 15px 0;
    font-size: 1.1em;
}

#navbar p{
    margin: 15px 0;
    font-size: 1.1em;
}

#footer{
    background-color: black;
    color: white;
    padding: 80px 0;
}

.footer-content{
    display: flex;
    width: 60%;
    margin: auto;
    justify-items: center;

}

.footer-menu{
    margin:0 60px;
    list-style: none;
}

.footer-menu-item{
    margin: 25px 0;
}

.footer-menu p{
    font-weight:bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8em;
}

.socials{
    display: flex;
}

.socials i{
    display: flex;
    margin: 0 20px;
    font-size: 1.7em;
}


.footer-info{
    display:flex;
    align-items: flex-end;/*Deixa no final*/
    width: 60%;
    margin: auto;
}

.footer-info-item{
    display: flex;
    list-style: none;
    margin: 10px 10px;
    font-weight: bold;
    color: #919496;
    font-size: 0.8em;
}

.rights{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
    color: #919496;
    font-size: 0.8em;
}

.country{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.brazil-flag{
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left:10px;
}


